@charset "UTF-8";

#footer-especial{
    background-color: #031d38;
}

#navbar-especial{
    background-color: #031d38;
}

#fonte-marca-especial{
    font-family: Style Script;
    font-size: 2.5em;
}

#btn-git{
    color: aliceblue;
}

.btn-cor-especial{
    background-color: #031d38;
    color:aliceblue;
}

.btn-cor-especial:hover{
	background-color:slategray;
    color:aliceblue;
    
}

.btn-cor-especial-editar{
     
}

.btn-cor-especial-editar:hover{
	 
    
}

.btn-cor-especial-remover{
     
}

.btn-cor-especial-editar:remover{
	 
}



